// @import "./typography";

* {
  box-sizing: border-box;
  @include body18;

  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  // text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

  @media screen and (max-width: 900px) {
    @include body16;
  }
}

::selection {
  background: $green-dark;
  color: white;
}

html,
body {
  font-family: $font-reg;
  width: 100%;
  background-color: $beige-light;
}

// body {
//   $trim-width: 2000px;

//   position: relative;
//   max-width: $trim-width;
//   margin: 0 auto;
//   background-color: $grey-light;
//   border-left: 1px solid $beige-light;
//   // border-right: 1px solid $beige-light;

//   & > header {
//     max-width: $trim-width;
//   }
// }



.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 160px 64px;

  @media screen and (max-width: 720px) {
    padding: 96px 24px;
  }
}

.mobile-hidden {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

