@import "./mixins";

@include fontface('font', '../../../public/fonts/Regular.woff', 'woff', 'normal', 400);
@include fontface('font', '../../../public/fonts/Medium.woff', 'woff', 'normal', 500);
@include fontface('font', '../../../public/fonts/SemiBold.woff', 'woff', 'normal', 600);
@include fontface('font', '../../../public/fonts/Bold.woff', 'woff', 'normal', 700);

$font-reg: 'font', sans-serif;
$font-med: 'font', sans-serif;
$font-semibold: 'font', sans-serif;
$font-bold: 'font', sans-serif;


@mixin body16 {
  font-size: 16px;
  line-height: 23px;
}

@mixin body18 {
  font-size: 18px;
  line-height: 26px;
}

@mixin body20 {
  font-size: 20px;
  line-height: 29px;
}

@mixin body22 {
  font-size: 22px;
  line-height: 32px;
}

// HEADING
@mixin heading24 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin heading32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@mixin heading40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

@mixin heading48 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
}

@mixin heading64 {
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}

@mixin heading80 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
}
