$darkgrey: #1a1f21;
$lightblue: #d1e8f2;
// Remove the above after updating all css


$green-dark: #293028;
$green-base: #3C593A;
$green-light: #507A4D;

$beige-light: #E9E8E2;
$grey-light: #F5F5F4;
$white: #ffffff;

$orange: #EB7A28;
$orange2: #EF7347;
$lightpink: #F4CFC2;

$skyblue: #A3C3D4;