.page-apply {
  @include body18;
  background-color: $beige-light;

  & + footer {
    display: none;
  }

  .flex-h {
    width: 100%;
    display: flex;
    gap: 16px;
  }

  .wrapper {
    .form-container {
      background-color: $grey-light;
      padding: 64px;
      border-radius: 24px;
      max-width: 750px;
      margin: 0 auto;

      .branding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 48px;

        p {
          font-weight: 500;
        }
      }

      h2 {
        @include heading40;
        padding-bottom: 16px;
      }

      form {
        margin-top: 32px;

        label {
          width: 100%;
          p { 
            padding-bottom: 4px; 
            @include body16;
          }
          
          input {
            width: 100%;
            line-height: 22px;
            padding: 20px 20px;
            border-radius: 16px;
            border: 1px solid $green-dark;
            margin-bottom: 24px;
            // background-color: unset;

            &:focus {
              // border: 1px solid white;
              outline-color: $green-base;
              background-color: $white;
            }
          }
        }

        input[type="submit"] {
          line-height: 22px;
          margin-top: 8px;
          padding: 20px;
          width: 100%;
          border: none;
          background-color: $orange;
          color: $white;
          border-radius: 16px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .confirm-email {
        .icon {
          background-color: $green-base;
          width: 64px;
          height: 64px;
          border-radius: 16px;
          @include flex-center;
          margin-bottom: 32px;
        }

        .resend-email {
          margin-top: 48px;
          padding: 32px;
          background-color: $beige-light;
          border-radius: 16px;

          p {
            margin-bottom: 20px;

            &:first-child {
              font-weight: 500;
              margin-bottom: 8px;
              
            }
          }

          a {
            background-color: unset !important;
            border: 1px solid $green-dark;
            color: $green-dark !important;
            transition: all 100ms ease-in-out;

            &:hover {
              background-color: $green-dark !important;
              color: $white !important;
            }
          }
        }
      }
    }

    .trial-notice {
      max-width: 750px;
      margin: 0 auto;
      padding: 32px;
      background-color: $orange;
      color: white;
      margin-top: 32px;
      border-radius: 24px;

      p:first-child {
        @include heading20;
        padding-bottom: 16px;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    @include body16;

    .flex-h {
      flex-direction: column;
      gap: 0px;
    }

    .wrapper {
      .form-container {
        padding: 24px;

        .branding {
          flex-direction: column;
          justify-content: unset;
          align-items: start;
          gap: 12px;
          padding-top: 12px;
          padding-bottom: 16px;

          .logo {
            display: none;
          }
        }
  
        h2 {
          @include heading32;
          padding-bottom: 24px;
        }
  
        form {
          margin-top: 16px;
  
          label {
            p { 
              @include body14;
            }
            
            input {
              padding: 16px 16px;
              margin-bottom: 20px;
            }
          }
        }
  
        .confirm-email {
          .icon {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}