.page-home {
  background-color: $beige-light;
  .hero {
    position: relative;
    height: 90vh;
    min-height: 850px;
    // background-color: #202629;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      height: 100%;
      align-items: center;

      .hero-content {
        padding-right: 128px;

        h1 {
          @include heading64;
          padding-bottom: 24px;
        }
  
        p {
          padding-bottom: 32px;
        }
      }
      
      .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;


        img {
          aspect-ratio: 7/9;
          object-fit: cover;
          border: 1px solid $darkgrey;
          width: 100%;
          border-radius: 24px;

          &:last-child {
            margin-top: 80px;
          }
        }
      }
    }

    // @media screen and (max-width: 900px) {
    //   h1 {
    //     @include heading40;
    //     width: 100%;
    //   }
    // }
  }

  .how-it-works {
    background-color: $green-dark;
    color: $white;

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .sticky-container {
        position: relative;
      }

      .section-intro {
        top: 160px;
        position: sticky;
        padding-right: 100px;
        
        h2 {
          @include heading56;
          padding-bottom: 24px;
        }

        p {
          padding-bottom: 40px;
        }
      }

      .steps {
        display: grid;
        gap: 16px;

        .step {
          background-color: $beige-light;
          color: $green-dark;
          padding: 24px;
          border-radius: 24px;
          display: flex;
          gap: 24px;

          .number {
            color: $beige-light;
            background-color: $green-base;
            width: 64px;
            height: 64px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            font-size: 32px;
            font-weight: 500;
          }
          .description {
            p {
              @include body16;

              &:first-child {
                font-size: 22px;
                letter-spacing: 0.2px;
                line-height: 32px;
                font-weight: 600;
                padding-bottom: 4px;
              }
            }
          }
        }

        .more-info {
          display: flex;
          padding: 24px;
          background-color: #323731;
          border-radius: 24px;
          align-items: center;

          .description {
            padding-right: 24px;

            p {
              @include body16;

              &:first-child {
                font-size: 22px;
                letter-spacing: 0.2px;
                line-height: 32px;
                font-weight: 600;
                padding-bottom: 4px;
              }
            }
          }

          .link {
            flex-shrink: 0;

            a {
              background-color: white !important;
              color: $green-dark !important;
            }
          }
        }
      }
    }
  }

  

  .investment-strategies {
    .wrapper {
      h2 {
        margin-bottom: 24px;
        padding-left: 4px;
      }

      h2 + p {
        @include heading40;
        margin-bottom: 96px;
        max-width: 1000px;
      }
    }

    .strategies {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;

      .card {
        background-color: #202629;
        border-radius: 24px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // position: relative;

        &-info {
          color: white;
          padding: 48px 32px;
          min-height: 360px;

          h3 {
            font-size: 32px;
            margin-bottom: 80px;
            line-height: 36px;

            span {
              font-weight: 200;
              display: block;
              font-style: italic;
              margin-bottom: 4px;
            }
          }

          p {
            font-size: 18px;
            line-height: 26px;
          }
        }

        &-image {
          height: 360px;
          width: 100%;
          object-fit: cover;
          // position: absolute;
          // bottom: 0px;
        }
      }
    }

    @media screen and (max-width: 900px) {
      .wrapper {
        overflow: hidden;

        h2 {
          @include body16;
          margin-bottom: 16px;
        }

        h2 + p {
          @include heading32;
        }

        .strategies {
          width: 100%;
          display: flex;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          .card {
            width: 90%;
            flex-shrink: 0;

            .card-info {
              padding: 32px 24px;

              p {
                @include body16;
              }
            }
          }
        }
      }
    }
  }
}
