@import "@/scss/base/variables";

.btn {
  display: inline-block;
  border-radius: 16px;
  background-color: black;
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  
  &-sm {
    @extend .btn;
    font-size: 18px;
    line-height: 26px;
    padding: 10px 16px !important;
    border-radius: 12px;
  }

  &-rg {
    @extend .btn;
    line-height: 24px;
    padding: 24px !important;
  }

  &-lg {
    @extend .btn;
    line-height: 24px;
    padding: 24px 32px !important;
  }
}
