@import "../scss/base/typography";
@import "../scss/base/variables";

.CallToAction {
  background-color: $blue;
  min-height: 650px;

  :global {
    .wrapper {
      display: block;
      @include flex-center;
      flex-direction: column;
    }

    h2 {
      @include heading64;
      color: $white;
      text-align: center;
      padding-bottom: 32px;
    }
  }

  @media screen and (max-width: 720px) {
    :global {
      h2 {
        width: 100%;
        @include heading32;
        padding-bottom: 24px;
      }
    }
  }
}
