@import "../scss/base/typography";
@import "../scss/base/variables";

.CallToAction {
  background-color: $green-base;
  min-height: 700px;
  display: flex;
  align-items: center;

  :global {
    .wrapper {
      display: block;
      @include flex-center;
      flex-direction: column;
    }

    h2 {
      @include heading48;
      font-weight: 500 !important;
      margin: 0 auto;
      color: $white;
      text-align: center;
      width: 80%;
      padding-bottom: 32px;
    }
  }

  @media screen and (max-width: 720px) {
    :global {
      h2 {
        width: 100%;
        @include heading32;
        padding-bottom: 24px;
      }
    }
  }
}
