@import "../scss/base/typography";
@import "../scss/base/variables";

.CustomerTestimonials {
  background: $skyblue;

  :global {
    .wrapper {
      h2 {
        @include body48;
        padding-bottom: 64px;
      }
    }

    .testimonials {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
      margin: 0 8px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        border-radius: 24px;

        &:nth-child(2) {
          margin-bottom: 64px;
        }

        .content {
          img {
            width: 100%;
            height: 280px;
            border-radius: 16px;
            margin-bottom: 16px;
          }

          p {
            @include body22;
          }
        }

        .customer-info {
          @include body18;

          p:last-child {
            color: #999;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    :global {
      .wrapper {  
      }
    }
  }

  @media screen and (max-width: 900px) {
    :global {
      .wrapper {
      }
    }
  }
}
