@import "@/scss/base/typography";

.SiteFooter {
  // background-color: #202629;
  // color: white;

  :global {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 128px;
      padding-bottom: 128px;

      .footer-nav-container {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;

      ul {
        li {
          display: block;
          margin-bottom: 24px;
        }
      }
    }

    .notice {
      opacity: 0.6;
      @include body14;
    }
  }

  @media screen and (max-width: 900px) {
    :global {
      .wrapper {
        grid-template-columns: 1fr;
        padding-bottom: 24px;

        .logo {
          height: 32px !important;
          margin-bottom: 64px;
        }

        nav {
          // display: grid;
          grid-template-columns: 1fr;
          margin-bottom: 96px;

          ul {
            padding-bottom: 24px;
          }
        }
    
        .notice {
          
        }
      }
    }
  }
}
