@import "@/scss/base/variables";

.SiteHeader {
  position: fixed;
  z-index: 99999999;
  width: 100%;
  background-color: $green-base;

  :global {
    .wrapper {
      $py: 12px;
      padding-top: $py;
      padding-bottom: $py;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #mobile-menu {
        display: none;
        color: $beige-light;
      }

      .links-container {
        display: flex;
        align-items: center;
        gap: 16px;

        nav {
          ul {
            display: flex;
            align-items: center;
            gap: 12px;

            li {
              a {
                color: $beige-light;
                display: inline-block;
                padding: 16px 12px;
              }
            }
          }
        }
      }
    }

    .mobile-nav-container {
      display: none;
      opacity: 0;
    }
  }

  // Mobile menu
  @media screen and (max-width: 800px) {
    background-color: unset;

    :global {
      .wrapper {
        $mobile-padding-x: 24px;
        padding: 16px 24px;
        background-color: $green-base;
        flex-direction: column;
        transition: all 300ms ease-in-out;
        
        &.mobile-bg {
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
        }

        .logo-menu-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        #mobile-menu {
          padding: 8px;
          display: block;
          cursor: pointer;
        }

        .links-container {    
          height: 0px;
          overflow: hidden;
          transition: all 300ms ease-in-out;
          width: 100%;

          &.visible {
            transition: all 300ms ease-in-out;
            height: 250px;
          }

          nav {
            display: block;
            ul {
              flex-direction: column;
              li {
                width: 100%;
                a {
                  display: block;
                  padding-left: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
