@import "@/scss/base/typography";

.SiteFooter {
  // background-color: #202629;
  // color: white;

  :global {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 128px;
      padding-bottom: 128px;

      .footer-nav-container {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;

      ul {
        li {
          display: block;
          margin-bottom: 24px;
        }
      }
    }

    .notice {
      opacity: 0.6;
      @include body14;
    }
  }

  @media screen and (max-width: 900px) {
    :global {
      .wrapper {
        padding-bottom: 40px;

        .main-nav {
          flex-direction: column;
          align-items: start;
          margin-bottom: 96px;

          & > svg {
            margin-bottom: 80px;
            height: 24px !important;
          }

          nav {
            flex-direction: column;
            gap: 0px;
          }
        }
      }
    }
  }
}
