@import "../scss/base/typography";
@import "../scss/base/variables";

// @import "./base/typography";

.WhyChooseMason {
  background: $orange;

  :global {
    .wrapper {
      h2 {
        text-align: center;
        @include heading56;
        padding-bottom: 80px;
        color: white;
        // padding-left: 4px;
      }

      // h2 + p {
      //   @include heading40;
      //   margin-bottom: 96px;
      //   max-width: 80%;
      // }
    }

    .areas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;

      .card {
        background-color: $beige-light;
        padding: 32px;
        border: 1px solid #ddd;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-icon {
          width: 64px;
          height: 64px;
          background-color: $green-base;
          border-radius: 16px;
          margin-bottom: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-heading {
          @include heading24;
          padding-bottom: 12px;
          font-weight: 500;
        }

        &-body {
          @include body18;
          // margin-bottom: 40px;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    :global {
      .wrapper {
        .areas {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    :global {
      .wrapper {
        & > h2 {
          @include heading40;
          padding-bottom: 40px;
        }

        .areas {
          grid-template-columns: 1fr;
          gap: 12px;

          .card {
            padding: 24px;

            .card-icon {
              width: 56px;
              height: 56px;
              margin-bottom: 16px;
              border-radius: 12px;

              img {
                width: 40px;
              }
            }

            .card-heading {
              @include heading20;
              margin-bottom: 0px;
            }

            .card-body {
              @include body16;
            }
          }
        }
      }
    }
  }
}
